
.footer {
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-left: 10rem;
    padding-right: 10rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background: #f9f9f9;
  }
  
  .intro {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    /* identical to box height, or 100% */
  
    color: #1f2937;
  }
  
  .rectangle {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .email {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .email-row {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    text-decoration: none;
    color: #af0c48;
  }
  
  .rectangle_2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 1.25rem;
  }
  
  .sagF1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;
    /* identical to box height, or 27px */
  
    letter-spacing: 0.01em;
  
    color: #0a0a14;
  }
  .github  a{
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size:2rem;
    line-height: 150%;
    /* identical to box height, or 27px */
  
    letter-spacing: 0.01em;
  
    color: #00ab6b;
  }
  
  .linkedin a{
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 150%;
    /* identical to box height, or 27px */
  
    letter-spacing: 0.01em;
  
    color: #0077b5;
  }