
.projects {
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-left: 10rem;
    padding-right: 10rem;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }


  #project-image{
    width: 348px;
    height: 225px;
  }
  
  .projects h3 {
    position: relative;
    left: 60rem;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    /* identical to box height, or 100% */
  
    color: #1f2937;
  }
  .project_1 {
    border: none;
    border-top: 1px solid #3730a3;
    margin: 1rem 0;
    width: 100%;
    display: block;
    position: relative;
    top: 18px;
  }
  .cart-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0px;
    gap: 80px;
    margin-left: 95px;
    width: 1222px;
  }
  
  .projects-list img {
    width: 19rem;
    height: 11rem;
  }
  
  .projects-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 483px;
    width: 350px;
    border: 1px solid;
  }
  
  .projects-list h4 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 28px;
    width: 15rem;
    height: 2rem;
    color: #4338ca;
    position: relative;
    left: 104px;
  }
  
  .description{
    width: 32rem;
    height: 8rem;
  
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 122%;
  
    color: rgb(65 73 78);
  }
  
  .projeskill {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0px;
    justify-content: space-evenly;
  
    font-family: "Inter";
  }
  
  .projeskill p {
    box-sizing: border-box;
    font-size: 15px;
    /* Auto layout */
    color: #3730a3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px 18px 7px;
    gap: 10px;
  
    width: 90px;
    height: 27px;
  
    background: #ffffff;
    border: 1px solid #3730a3;
    border-radius: 4px;
  }
  
  .project-details {
    font-family: "Inter";
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0px;
  }
  
  .project-details p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */
  
    text-decoration-line: underline;
  
    /* Default/indigo/800 */
  
    color: #3730a3;
  }