
.skills {
    padding-top: 6rem;
    padding-left: 10rem;
    padding-right: 10rem;
    max-width: 1533px;
    height: 46rem;
    display: flex;
    flex-direction: column;
    gap: 8rem;
    transition: scroll-behavior .5s ease-in-out;
  }

  .skill-img{
    width: 90px;
  }
#img.skill-img { 
  position: relative;
  left: 10px;
}
  .skills h3 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 48px;
    position: relative;
    left: 61rem;
    height: 58px;
    /* or 100% */
  
    color: #1f2937;
  }
  
  .skillsList {
    display: flex;
   
    justify-content: space-between;
    height: 343px;
    width: 1212px;
    position: relative;
    left: 8rem;
  }
  
  .skillsListGroup {
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 14.5rem;
    opacity: 1;
    
  }
  
  #image {
    width: 50px;
    height: 50px;
  }
  .skillsListGroup h4 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 28px;
    width: 15rem;
    height: 2rem;
  
    color: #4338ca;
  }
  
  .skillsListGroup p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    /* or 133% */
  
    /* Default/gray/500 */
  
    color: #6b7280;
  }
  